<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
  
</head>

<body>
  <div class="login">
    <h1>Prediction of critical shear stress in mobile bed channels</h1>
  </div>
  
 <div class="login-container">
   <div class="form">
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <div class="input-group">
        <select name="Model" id="Model">
          <div class="select-wrapper">
        <option value ="0">Choose a Algorithm</option>
        <option value="2">Particle Swarm Optimization(PSO)-KNN</option>
        <option value="6">Particle Swarm Optimization(PSO)-ETR</option>
        <option value="10">Particle Swarm Optimization(PSO)-BR</option>
        <option value="14">Particle Swarm Optimization(PSO)-AR</option>
        <option value="18">Particle Swarm Optimization(PSO)-XGB</option>
        <option value="22">Particle Swarm Optimization(PSO)-LR</option>
        <option value="26">Particle Swarm Optimization(PSO)-RF</option>
        <option value="30">Particle Swarm Optimization(PSO)-GBR</option>
        <option value="34">Particle Swarm Optimization(PSO)-DTR</option>
          </div>
      </div>
      <div class="input-group">
    	<input type="text" name="ecc" placeholder="Gravitational Acceleration(m/s2)" required="required" />
      </div>
      <div class="input-group">
        <input type="text" name="Ch" placeholder="Depth of flow(m)" required="required" />
      </div>
        <div class="input-group">
		<input type="text" name="CS" placeholder="Shear Factor" required="required" />
  </div>
    <div class="input-group">
    	<input type="text" name="od" placeholder="Gravitational Constant" required="required" />
    </div>
      <div class="input-group">
        <input type="text" name="th" placeholder="Diameter of Particle(m)" required="required" />
      </div>
        <div class="input-group">
		<input type="text" name="ys" placeholder="Kinematic Viscosity(m2/s)" required="required" />
  </div>
    <div class="input-group">
    	<input type="text" name="tt" placeholder="Velocity of Flow(m/s)" required="required" />
    </div>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict stress</button>
    </form>

   
 </div>
</div>
<footer>
    <p>This GUI is developed by Ayush Rathore, a graduate student of Dr Mahesh Patel, Department of Civil Engineering, Dr BR Ambedkar National institute of Technology, Jalandhar, India</p>
		</footer>
</body>

</html>

