<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
  
</head>

<body>
  <div class="login">
    <h1>Predict Critical Shear Stress of Mobile Bed Channels </h1>
    <br>
    <h3>{{prediction_text}}</h3>
    <br>
  </div>
  
 <div class="login-container">
   <div class="form">
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <div class="input-group">
        <select name="Model" id="Model">
          <div class="select-wrapper">
            <option value ="0">Choose a Algorithm</option>
            <option value="1">Cultural Algorithm-KNN</option>
            <option value="2">Particle Swarm Optimization-KNN</option>
            <option value="3">Invasive Weed Optimization-KNN</option>
            <option value="4">Gradient Based Algorithm-KNN</option>
            <option value="5">Cultural Algorithm-ETR</option>
            <option value="6">Particle Swarm Optimization-ETR</option>
            <option value="7">Invasive Weed Optimization-ETR</option>
            <option value="8">Gradient Based Algorithm-ETR</option>
            <option value="9">Cultural Algorithm-BR</option>
            <option value="10">Particle Swarm Optimization-BR</option>
            <option value="11">Invasive Weed Optimization-BR</option>
            <option value="12">Gradient Based Algorithm-BR</option>
            <option value="13">Cultural Algorithm-AR</option>
            <option value="14">Particle Swarm Optimization-AR</option>
            <option value="15">Invasive Weed Optimization-AR</option>
            <option value="16">Gradient Based Algorithm-AR</option>
            <option value="17">Cultural Algorithm-XGB</option>
            <option value="18">Particle Swarm Optimization-XGB</option>
            <option value="19">Invasive Weed Optimization-XGB</option>
            <option value="20">Gradient Based Algorithm-XGB</option>
            <option value="21">Cultural Algorithm-LR</option>
            <option value="22">Particle Swarm Optimization-LR</option>
            <option value="23">Invasive Weed Optimization-LR</option>
            <option value="24">Gradient Based Algorithm-LR</option>
            <option value="25">Cultural Algorithm-RF</option>
            <option value="26">Particle Swarm Optimization-RF</option>
            <option value="27">Invasive Weed Optimization-RF</option>
            <option value="28">Gradient Based Algorithm-RF</option>
            <option value="29">Cultural Algorithm-GBR</option>
            <option value="30">Particle Swarm Optimization-GBR</option>
            <option value="31">Invasive Weed Optimization-GBR</option>
            <option value="32">Gradient Based Algorithm-GBR</option>Cultural Algorithn-GBR
            <option value="33">Cultural Alogorithm-DTR</option>
            <option value="34">Particle Swarm Optimization-DTR</option>
            <option value="35">Invasive Weed Algorithm-DTR</option>
            <option value="36">Gradient Based Algorithm-DTR</option>
          </div>
      </div>
      <div class="input-group">
    	<input type="text" name="ecc" placeholder="Gravitational Acceleration(m/s2)" required="required" />
      </div>
      <div class="input-group">
        <input type="text" name="Ch" placeholder="Depth of flow(m)" required="required" />
      </div>
        <div class="input-group">
		<input type="text" name="CS" placeholder="Shear Factor" required="required" />
  </div>
    <div class="input-group">
    	<input type="text" name="od" placeholder="Gravitational Constant" required="required" />
    </div>
      <div class="input-group">
        <input type="text" name="th" placeholder="Diameter of Particle(m)" required="required" />
      </div>
        <div class="input-group">
		<input type="text" name="ys" placeholder="Kinematic Viscosity(m2/s)" required="required" />
  </div>
    <div class="input-group">
    	<input type="text" name="tt" placeholder="Velocity of Flow(m/s)" required="required" />
    </div>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict stress</button>
    </form>

   
 </div>
</div>
<footer>
    <p>This GUI is developed by Ayush Rathore, a graduate student of Dr Mahesh Patel, Department of Civil Engineering, Dr BR Ambedkar National institute of Technology, Jalandhar, India</p>
		</footer>
</body>

</html>

